/* General Stuff */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", Helvetica, sans-serif;
  background-color: gainsboro;
}

/* Utility classes */
.lobster-font1 {
  font-family: "Lobster", cursive, sans-serif;
}

.lobster-font2 {
  font-family: "Lobster Two", cursive, sans-serif;
}

.color-1 {
  color: #fc9f59;
}
.color-2 {
  color: #b1ebb9;
}
.color-3 {
  color: #39cbf4;
}
.color-4 {
  color: #84dff8;
  /* color: #faf6eb; */
}
.f-bold {
  font-weight: bold;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 50%;
}

/* Navigation Bar section */
#navbar {
  background: rgba(187, 187, 187, 0.377);
  z-index: 1;
  overflow: auto;
  width: 100%;
  position: fixed;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  overflow: hidden;
}

#navbar h1 {
  font-size: 2rem;
  text-shadow: 3px 3px 3px #777;
  margin-bottom: 0;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

#navbar li {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 10px;
  text-shadow: 4px 4px 4px #888;
}

#navbar li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  text-shadow: 4px 4px 4px #555;
}

@media (max-width: 500px) {
  #navbar h1 {
    font-size: 1.5rem;
  }

  #navbar li {
    font-size: 1.1rem;
  }

  #portfolio h2 {
    font-size: 1.7rem;
  }
}

/* About section */

#about {
  background-color: aliceblue;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100vh;
  background-image: url("img/web-design-1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

#about .about-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}

#about hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

#about img {
  border-style: solid;
  border-radius: 50%;
  border-color: aliceblue;
  width: auto;
}

#about h3,
blockquote p {
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px black;
}

#about footer {
  color: #d3d4d6;
}

#social-media {
  margin-bottom: 1.7rem;
}

#social-media .btn {
  margin: 0 0.4rem;
  font-size: 20px;
  background-color: #010f18;
  color: white;
  border-style: none;
  border: 2px solid;
  border-radius: 50%;
  opacity: 0.7;
}

#social-media .btn:hover {
  background-color: #fff /*#e7f5fe*/;
  color: black;
  border: 2px solid #010f18;
  opacity: 1;
}

#about ul.qualities {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#about ul.qualities li {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  list-style: none;
  margin: 1rem 0.6rem;
  padding: 0.4rem;
  text-shadow: 4px 4px 4px black;
  color: white;
}

#about ul.qualities li .i-center {
  margin: 0 auto;
}

@media (max-width: 560px) {
  #about ul {
    grid-template-columns: 1fr;
  }
}

/* Portfolio Section */

#portfolio {
  padding-top: 69px;
  text-align: center;
  background-color: #faf9d1;
  border-radius: 5px;
  background-image: url("img/coffee-notes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio .portfolio-content {
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

#portfolio h2 {
  font-weight: bold;
  padding-top: 1rem;
  color: #556;
  text-shadow: 3px 3px 3px #777;
  font-family: "Lobster Two", cursive;
}

#portfolio .row {
  margin: 0;
}

#portfolio img {
  width: 100%;
  border-radius: 5px;
}

#portfolio .card {
  filter: blur(0.7px);
  opacity: 0.93;
  transition: opacity 0.4s;
}

#portfolio .card:hover {
  opacity: 1;
  filter: blur(0px);
}

#portfolio .card .card-img-overlay {
  border-radius: 5px;
  filter: blur(3.5rem);
  color: #f4f4f4;
  transition: all 0.4s;
}

#portfolio .card .card-img-overlay .wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
  align-self: center;
}

#portfolio .card .card-img-overlay:hover {
  filter: blur(0px);
  background: rgba(68, 68, 80, 0.267);
}

#final-footer {
  padding: 0.7rem;
  font-family: Raleway, cursive, sans-serif;
  font-size: 19px;
  text-shadow: 4px 4px 4px #66a3ff8a;
}

#final-footer p {
  margin-bottom: 0;
}

#final-footer a {
  color: inherit;
  text-decoration: none;
}
