/* General Stuff */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", Helvetica, sans-serif;
  background-color: gainsboro;
}

/* Utility classes */
.lobster-font1 {
  font-family: "Lobster", cursive, sans-serif;
}

.lobster-font2 {
  font-family: "Lobster Two", cursive, sans-serif;
}

.color-1 {
  color: #fc9f59;
}
.color-2 {
  color: #b1ebb9;
}
.color-3 {
  color: #39cbf4;
}
.color-4 {
  color: #84dff8;
  /* color: #faf6eb; */
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 50%;
}


/* Navigation Bar section */
#navbar {
  background: rgba(187, 187, 187, 0.377);
  z-index: 1;
  overflow: auto;
  width: 100%;
  position: fixed;
}

#navbar h1 {
  float: left;
  padding-top: 10px;
  font-size: 2rem;
  display: block;
  text-shadow: 3px 3px 3px #777;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar li {
  font-size: 1.4rem;
  font-weight: bold;
  float: left;
  /* margin: 10px 15px 10px 0px; */
  margin-right: 10px;
  text-shadow: 4px 4px 4px #888;
}

#navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  text-shadow: 4px 4px 4px #555;
}

@media(max-width: 500px){
  #navbar {
    height: 5.5rem;
    overflow-y: hidden;
  }

  #navbar h1{
    font-size: 1.5rem;
  }

  #navbar li {
    font-size: 1.1rem;
  }
}

/* About section */

.center {
  position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#about {
  text-align: center;
  background-color: aliceblue;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.2)
    ),
    url(img/web-design-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

#about hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

#about img {
  border-style: solid;
  border-radius: 50%;
  border-color: aliceblue;
  width: auto;
}

#about h2 {
  font-family: "Lobster Two", cursive;
  color: white;
  text-align: center;
  padding-top: 0px;
  text-shadow: 4px 4px 4px black;
}

#about h3 {
  padding-bottom: 1.2rem;
}

#about h3,
blockquote p {
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px black;
}

#about footer {
  color: #d3d4d6;
}

#about ul {
  padding: 0;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

#about li {
  font-size: 22px;
  display: inline;
  margin: 15px 5px 0px 5px;
  text-shadow: 4px 4px 4px black;
  color: white;
}

@media (max-width: 560px) {
  #about ul {
    grid-template-columns: 1fr;
  }
}

/* Portfolio Section */

#portfolio,
#contact {
  text-align: center;
  padding-left: 26px;
  padding-top: 10px;
  padding-right: 25px;
  background-color: #faf9d1;
  border-radius: 5px;
  height: 100vh;
  background-image: url(img/coffee-notes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio h2 {
  font-weight: normal;
  color: #afcdfa;
  /* text-shadow: 4px 4px 4px #fca0598c; */
  font-family: "Lobster Two", cursive;
}

#portfolio img {
  width: 100%;
  border-radius: 5px;
}

#portfolio .card {
  opacity: 0.93;
  transition: opacity 0.4s;
}

#portfolio .card:hover {
  opacity: 1;
}

#portfolio .row {
  margin-right: 10px;
}

/* Contact me section */

#social-media .btn {
  font-size: 20px;
  /*background-color: lightskyblue;*/
  background-color: #010f18;
  color: white;
  border-style: none;
  border: 2px solid;
  border-radius: 50%;
  opacity: 0.7;
  margin: auto 6px;
}

#social-media .btn:hover {
  background-color: white /*#e7f5fe*/;
  color: black;
  border: 2px solid #010f18;
  opacity: 1;
}

#social-media a:nth-of-type(5) {
  color: black;
  text-decoration: none;
}
/* ====== Other ==========*/

/* Placeholder color.
It's necessary to specify this for every browser or otherwise it'll be ignored (thank you, fuxia and hitautodestruct from Stackoverflow)*/

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #008ae6;
  opacity: 0.35;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #008ae6;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #008ae6;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #008ae6;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #008ae6;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #008ae6;
}

.final-footer {
  padding-top: 2.1rem;
  font-family: Raleway, cursive, sans-serif;
  font-size: 19px;
  text-shadow: 4px 4px 4px #66a3ff8a;
}
