/* General Stuff */
:root {
  --light-gray: #f4f4f4;
  --blue: #3f6e9e;
  --darker-primary-blue: #214467;
  --lighter-primary-blue: #5d9ad8;
  --mid-blue: #00376e;
  --dark-blue: #001a34;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Baloo Tamma 2", Helvetica, sans-serif;
  background-color: var(--light-gray);
  color: var(--dark-blue);
  border: 1px solid rgba(0, 26, 52, 0.103);
  margin: 0 auto;
  border: none;
  overflow-x: hidden;
  transition: background 0.4s, color 0.4s;
}

body.dark {
  background-color: var(--dark-blue);
  color: var(--light-gray);
}

.container {
  max-width: 302px;
  margin: 0 auto;
}

.highlighted {
  color: var(--mid-blue);
  /* color: var(--darker-primary-blue); */
  /* color: var(--dark-blue); */
}

body.dark .highlighted {
  /* color: var(--light-gray); THIS */
  /* color: var(--lighter-primary-blue); */
  color: var(--light-gray);
}

.fade-in {
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 0.7s ease-in, transform 0.7s ease-in;
}

.appear {
  transform: translateY(0);
  opacity: 1;
}

/* main {
  color: var(--dark-blue);
} */

a:focus,
div:focus {
  outline: 2px solid #2f5c9b;
  outline-offset: 4px;
}

/* ======= Navbar ======= */

#navbar {
  background: #f4f4f4cc;
  position: fixed;
  z-index: 3;
  opacity: 1;
  width: 100%;
  transition: background 0.4s, color 0.4s;
}

body.dark #navbar {
  background: #001a34cc;
}

#navbar .heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar h1,
#name-in-bg h2 {
  color: var(--blue);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}

body.dark #navbar h1 {
  color: var(--lighter-primary-blue);
}

#name-in-bg {
  display: none;
  pointer-events: none;
}

#navbar h1 + img {
  margin-top: 0.35rem;
}

#navbar ul {
  list-style: none;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  margin-top: -0.2rem;
  margin-bottom: 0.25rem;
}

#navbar ul li a {
  font-size: 0.95rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blue);
  letter-spacing: 2.24px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.4s;
}

body.dark #navbar ul li a {
  color: var(--lighter-primary-blue);
}

#navbar ul li:last-of-type a {
  border-bottom: 1px solid #305d9c3b;
}

#navbar ul li a:hover {
  border-bottom: 1px solid var(--blue);
}

/* ====== Home ======= */

#home {
  padding-top: 76px;
  min-height: 100vh;
  background: var(--light-gray);
  z-index: 1;
  background: linear-gradient(0deg, var(--blue) 30vh, var(--light-gray) 30vh);
}

body.dark #home {
  background: linear-gradient(
    0deg,
    var(--darker-primary-blue) 30vh,
    var(--dark-blue) 30vh
  );
}

#home-content {
  position: relative;
}

#home-content::before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("./Mobile/Mobile BGs/About\ bg.svg") no-repeat center
    center/cover;
  border: none;
}

body.dark #home-content::before {
  background: url("./Mobile/Mobile BGs/About\ bg\ –\ Dark\ mode.svg") no-repeat
    center center/cover;
}

/* #home #home-content #main-text {
  display: flex;
  justify-content: center;
} */

#home #home-content #main-text {
  color: var(--darker-primary-blue);
}

body.dark #home #home-content #main-text {
  /* color: var(--blue); */
  color: var(--lighter-primary-blue);
}

#home #home-content h1 {
  font-weight: normal;
  font-size: 2.7rem;
  /* text-align: center; */
  letter-spacing: 0.92px;
  line-height: 1;
  margin-top: 4.875rem;
  margin-bottom: 0.5rem;
}

#home #home-content p {
  /* text-align: center; */
  font-size: 1.5rem;
  line-height: 1.3;
}

#home #home-content #main-photo {
  /* margin-top: 3rem; */
  width: 240px;
  height: auto;
  border-radius: 50%;
  border: 3px solid var(--darker-primary-blue);
  box-shadow: 0 3px 6px rgba(0, 26, 52, 0.25);
}

body.dark #home #home-content #main-photo {
  border: 3px solid var(--dark-blue);
}

#home #home-content .social {
  /* justify-content: flex-start;
  margin: 0.65rem 0 2.5rem; */
  justify-content: space-between;
  max-width: 65%;
  /* margin: 0.65rem 0 2.5rem; */
  margin: 0.65rem 0 0;
}

/* #home #home-content .btn-blue {
  background-color: var(--darker-primary-blue);
} */

body.dark #home #home-content .btn-blue:focus {
  box-shadow: 0 0 0 4px var(--dark-blue), 0 0 0 8px #2f5c9b;
}

.btns {
  /* text-align: center; */
  margin: 0.875rem 0 2.9rem;
}

.btn {
  padding: 0.35rem 0.875rem;
  /* margin: 0 0.3125rem; */
  margin-right: 0.35rem;
  border-radius: 0.625rem;
  box-shadow: 0px 3px 6px #00000029;
  background: var(--blue);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  transition: background 0.4s;
}

.btn:focus {
  box-shadow: 0 0 0 4px var(--light-gray), 0 0 0 8px #2f5c9b;
  outline: none;
}

.btn-blue {
  color: var(--light-gray);
  border: 1px solid var(--mid-blue);
}

.btn-blue:hover {
  /* background: #2f5c9b; */
  /* background: var(--mid-blue); */
  background: #022b55; /* Kind of like --dark-blue but slightly lighter*/
}

.btn-white {
  padding-left: 1.625rem;
  padding-right: 1.625rem;
  color: var(--blue);
  background: none;
  border: 1px solid var(--blue);
}

.btn-white:hover {
  background: #fafafa;
}

body.dark .btn-blue {
  background: var(--darker-primary-blue);
  border: 1px solid var(--lighter-primary-blue);
  /* color: var(--dark-blue); */
}

body.dark .btn-blue:hover {
  /* background: var(--dark-blue); */
  background: #022b55; /* Kind of like --dark-blue but slightly lighter*/
}

/* body.dark .btn-white {
  color: var(--lighter-primary-blue);
  border: 1px solid var(--lighter-primary-blue);
} */

#home img {
  display: block;
  margin: 0 auto;
}

/* #home #home-content img:first-of-type {
  width: 223px;
  height: 248px;
} */

#home-content .social a:hover svg {
  transform: scale(1.1);
}

/* =========== About ============ */
#about {
  min-height: 100vh;
  padding-bottom: 2.5rem;
  background: var(--blue);
  color: var(--light-gray);
}

body.dark #about {
  background: var(--darker-primary-blue);
}

#about-content {
  padding-top: 4.7rem;
}

/* #about h2 {
  font-size: 1.35rem;
} */

#about hr {
  margin-top: -0.45rem;
  width: 30%;
  height: 0.25rem;
  border: none;
  border-radius: 1rem;
  background: var(--light-gray);
}

#about p {
  margin-top: 0.85rem;
  font-size: 1.35rem;
  line-height: 1.25;
}

#about .tech {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  text-align: center;
  margin-bottom: 1.2rem;
  /* margin: 0 auto; */
  /* max-width: 85%; */
  /* margin-top: 0.7rem; */
}

#about .tech li {
  margin-top: 2rem;
  width: 33.33%;
}

#about .tech li p {
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

#about .tech li img {
  margin: 0 auto;
}

#home .btn i,
#about .btn i {
  vertical-align: middle;
}

#about img {
  display: block;
  margin: 3.5rem auto 0;
}

/* =========== Portfolio ============ */

#portfolio {
  background: var(--blue);
  position: relative;
  padding: 6.3rem 0;
}

body.dark #portfolio {
  background: var(--darker-primary-blue);
}

#portfolio #portfolio-CTA {
  position: absolute;
  top: 33%;
  left: -2rem;
  z-index: 1;
  pointer-events: none;
}

#portfolio #portfolio-CTA h3 {
  text-align: center;
  color: var(--light-gray);
}

#portfolio #portfolio-CTA img {
  height: 248px;
}

#portfolio #portfolio-content {
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: 150vh; */
  justify-content: space-evenly;
}

#portfolio-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("./Mobile/Mobile BGs/Portfolio\ bg.svg") no-repeat center
    center/cover;
}

/*  ---- Projects ------ */

/* .tag {
  padding: 0 0.8rem;
  margin-right: 0.5rem;
  border-radius: 0.625rem;
  font-size: 0.7rem;
  display: inline-block;
} */

/* .tag-html {
  color: orangered;
  border: 1px solid orangered;
  color: #f16528;
  border: 1px solid var(--mid-blue);
}

.tag-css {
  color: steelblue;
  border: 1px solid steelblue;
  color: #2eaade;
  border: 1px solid var(--mid-blue);
}

.tag-js {
  color: rgb(212, 180, 2);
  border: 1px solid rgb(212, 180, 2);
  color: #fed839;
  border: 1px solid var(--mid-blue);
} */

.card {
  max-width: 180px;
  max-height: 160px;
  position: relative;
}

.card:hover,
.card:focus-within {
  transform: scale(1.4);
  z-index: 1;
}

.card,
.card img {
  transition: all 0.6s;
}

.card:hover img,
.card:focus-within img {
  filter: blur(1px);
  opacity: 0.8;
}

.card:first-of-type {
  align-self: flex-start;
}

.card .info {
  position: relative;
  pointer-events: none;
  width: 85%;
  border-radius: 0.625rem;
  margin: 0 auto;
  transition: all 0.6s;
  background: #f4f4f4da;
  opacity: 0;
  padding: 0.7rem;
  box-shadow: 3px 3px 7px var(--dark-blue);
}

body.dark .card .info {
  color: var(--dark-blue);
  /* background: var(--darker-primary-blue); */
}

.card .info .title {
  font-size: 1.1rem;
  line-height: 1.1;
  /* margin-bottom: 0.2rem; */
}

.card .info .stack i {
  margin-right: 0.25rem;
}

.card .info .description {
  font-size: 0.9rem;
  line-height: 1.2;
}
.card .info .btns {
  max-width: 90%;
  margin: 0.25rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card .info .btns .btn {
  font-size: 0.55rem;
  padding: 0.25rem 0.5rem;
  margin: 0.15rem;
}

.card .info .btns .btn:focus {
  box-shadow: 0 0 0 4px #f4f4f4da, 0 0 0 8px #2f5c9b;
}

.card .info .btns .btn-white {
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.card:hover .info,
.card:focus-within .info {
  transform: translateX(-4%) translateY(-105%) translateZ(0);
  pointer-events: initial;
  /* height: 132px; */
  opacity: 1;
}

/* body.dark .card:hover .info,
body.dark .card:focus-within .info {
  opacity: 0.9;
} */

.card:first-of-type:hover,
.card:first-of-type:focus-within {
  transform: scale(1.4) translateX(20%) translateY(25%);
}

.card:nth-of-type(2) {
  align-self: flex-end;
  /* height: 138px; */
}

.card:nth-of-type(2):hover,
.card:nth-of-type(2):focus-within {
  transform: scale(1.4) translateX(-15%);
}

.card:nth-of-type(3) {
  align-self: center;
  /* height: 132px; */
}
.card:nth-of-type(3):hover .info,
.card:nth-of-type(3):focus-within .info {
  transform: translateX(-4%) translateY(-116%) translateZ(0);
}
.card:nth-of-type(4) {
  align-self: flex-end;
  /* height: 135px; */
}

.card:nth-of-type(4):hover,
.card:nth-of-type(4):focus-within {
  transform: scale(1.4) translateX(-15%);
}

.card:last-of-type {
  align-self: flex-start;
}

.card:last-of-type:hover,
.card:last-of-type:focus-within {
  transform: scale(1.4) translateX(20%);
}
.card:last-of-type:hover .info,
.card:last-of-type:focus-within .info {
  transform: translateX(-4%) translateY(-98%) translateZ(0);
}

/* =========== Contact =========== */
#contact {
  position: relative;
  text-align: center;
  height: 100vh;
  /* background: var(--light-gray); */
}

#contact .container {
  height: 100%;
}

#contact-content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

#contact-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("./Mobile/Mobile BGs/Contact\ bg.svg") no-repeat center
    center/cover;
}

body.dark #contact-content::before {
  background: url("./Mobile/Mobile BGs/Contact\ bg\ –\ Dark\ mode.svg")
    no-repeat center center/cover;
}

#contact-content .social,
#home-content .social {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0.65rem;
  margin-bottom: 1rem;
}

#contact-content h2,
#contact-content h3 {
  font-weight: 500;
}

#contact-content h2 {
  font-size: 2.35rem;
  letter-spacing: 0.76px;
  line-height: 1.1;
}

#contact-content h3 {
  /* font-size: 1.3rem; */
  /* margin: 0.35rem auto 0;*/
  font-size: 1.25rem;
  max-width: 75%;
  margin: 0.65rem auto 0.25rem;
  line-height: 1.3;
}

body.dark #contact-content h2 {
  color: var(--light-gray);
}

#contact-content .social a:nth-of-type(2) {
  margin: 0 2.3rem;
}

#contact-content .social a svg,
#home-content .social a svg {
  transition: all 0.2s;
}

#contact-content .social a:hover svg {
  transform: scale(1.15);
}

#contact .bmc-btn-container {
  margin: 0 auto 4rem;
}

#contact .bmc-btn {
  opacity: 0.65;
  height: 2.35rem;
  padding: 0 1.15rem;
  font-size: 1.3rem;
  /* background-color: #5F7FFF; */
  transition: background-color 0.3s, opacity 0.3s ease-in;
  box-shadow: 0px 3px 6px #00000029;
}

body.dark #contact .bmc-btn {
  background-color: var(--dark-blue) !important;
  color: var(--light-gray) !important;
}

#contact .bmc-btn:hover {
  opacity: 1;
}

#contact .bmc-btn svg {
  transform: scale(0.85);
}

#contact-content #contact-illustration {
  width: 100%;
  height: 312px;
  position: absolute;
  bottom: 0;
  z-index: -1;
  transform: none;
  transform: scale(0.77);
  transform-origin: bottom;
}

#contact #contact-chevron {
  transform: scale(0.75);
  position: absolute;
  bottom: 1%;
  right: 2%;
  z-index: 1;
  transition: all 0.3s;
  text-decoration: none;
  color: #2f5c9b;
}

#contact #contact-chevron:hover {
  transform: scale(0.85);
}

@media (max-height: 550px) and (orientation: portrait) {
  #contact {
    height: 120vh;
  }

  #contact .bmc-btn-container {
    margin-bottom: 6.2rem;
  }

  /* #contact-content h2 {
    font-size: 2.3rem;
  } */

  /* #contact #contact-illustration {
        transform: scale(0.8);
        transform-origin: bottom;
  } */
}

/* Large phones? */
@media (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 460px;
  }

  #navbar ul {
    justify-content: space-evenly;
  }

  .card {
    transform: scale(1.2);
    /* margin-top: 1.5rem; */
  }

  #contact-content h2 {
    font-size: 2.45rem;
  }
}

/* Tablets */
@media (min-width: 768px) {
  body {
    background: linear-gradient(
      90deg,
      var(--light-gray) 50vw,
      var(--blue) 50vw
    );
  }

  body.dark {
    background: linear-gradient(
      90deg,
      var(--dark-blue) 50vw,
      var(--darker-primary-blue) 50vw
    );
  }

  #name-in-bg {
    display: flex;
    position: fixed;
    left: -6.5%;
    bottom: 14%;
    transform: rotate(90deg);
    opacity: 0.2;
    z-index: 1;
  }

  .container {
    max-width: 720px;
  }

  .btns {
    margin-bottom: 0;
  }

  #home,
  #about,
  #portfolio,
  #contact {
    background: none;
  }

  body.dark #home {
    background: none;
  }

  #home {
    padding-top: 0;
  }

  #home img {
    display: initial;
    margin: initial;
  }

  #navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #navbar {
    display: flex;
    height: 4rem;
  }

  #navbar h1,
  #name-in-bg h2 {
    font-size: 1.55rem;
    letter-spacing: 3.2px;
  }

  #name-in-bg h2 {
    color: var(--blue);
    margin: 0;
  }

  #navbar ul {
    margin-bottom: 0;
    padding-top: 0.8rem;
    justify-content: space-between;
    width: 47%;
  }

  #navbar ul li a {
    font-size: 1rem;
    font-weight: 500;
  }

  #home #home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    position: initial;
  }

  #home-content::before {
    content: none;
  }

  #home,
  #about {
    position: relative;
  }

  #home::before,
  #about::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: url("Desktop/Backgrounds/Desktop\ -\ About\ BG.svg") no-repeat
      center center/cover;
  }

  body.dark #home::before,
  body.dark #about::before {
    background: url("Desktop/Backgrounds/Desktop\ -\ About\ BG\ -\ Dark\ mode.svg")
      no-repeat center center/cover;
  }

  #home #home-content #main-text {
    text-align: start;
    max-width: 45%;
    transition: opacity 1.1s ease-in, transform 1.1s ease-in;
  }

  #home #home-content #main-text h1 {
    letter-spacing: 0.99px;
    /* font-size: 2.68rem; */
    /* font-size: 3.2rem; */
    padding-top: 0;
  }

  #home #home-content #main-text p {
    font-size: 1.7rem;
  }

  #portfolio,
  #about {
    background: linear-gradient(
      90deg,
      var(--light-gray) 30vw,
      var(--blue) 30vw
    );
  }

  body.dark #portfolio,
  body.dark #about {
    background: linear-gradient(
      90deg,
      var(--dark-blue) 30vw,
      var(--darker-primary-blue) 30vw
    );
  }

  #about #about-content {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    /* color: var(--dark-blue); */
  }

  #about #about-me {
    /* flex: 1.5; */
    flex: 1.35;
  }

  #about h2 {
    font-size: 1.5rem;
  }

  /* #about p {
    font-size: 1.3rem;
  } */

  #about .tech {
    justify-content: space-between;
  }

  #about .tech li {
    width: auto;
  }

  /* #about .tech {
    max-width: 85%;
  } */

  #about #about-content #about-illustration {
    /* width: 288px; */
    /* height: auto; */
    height: 300px;
    flex: 1;
    margin: initial;
    transition: opacity 0.55s ease-in, transform 0.55s ease-in;
  }

  /* === Portfolio === */

  .card {
    max-width: none;
    /* max-height: none; */
    max-height: 250px;
    /* padding-left: 2rem; */
    margin-bottom: -7.7rem;
    overflow: initial;
    text-align: start;
  }

  .card:nth-of-type(odd) {
    align-self: center;
    margin-right: 5.8rem;
  }

  /* .card:nth-of-type(2) {
    max-width: 270px;
  } */
  /* .card:nth-of-type(even) {
    margin-left: 0.7rem;
  } */

  .card:hover,
  .card:focus-within {
    transform: scale(1.2);
  }

  .card .info {
    max-width: 300px;
    /* max-height: 250px; */
    padding: 1rem;
  }

  .card .info .btns {
    margin: initial;
    max-width: initial;
    margin: 0.45rem auto;
    display: block;
  }

  .card .info .title {
    font-size: 1.35rem;
    line-height: 1.1;
    /* margin-bottom: 0.2rem; */
  }

  .card .info .stack {
    font-size: 1.3rem;
    /* margin-bottom: -0.2rem; */
  }

  .card .info .description {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .card .info .btns .btn {
    font-size: 0.7rem;
  }

  .card .info .btns .btn:first-of-type {
    margin-left: 0;
  }

  .card:first-of-type:hover,
  .card:first-of-type:focus-within {
    transform: scale(1.2);
  }

  .card:nth-of-type(2):hover,
  .card:nth-of-type(2):focus-within {
    transform: scale(1.2);
  }

  .card:nth-of-type(4):hover,
  .card:nth-of-type(4):focus-within {
    transform: scale(1.2);
  }

  .card:last-of-type:hover,
  .card:last-of-type:focus-within {
    transform: scale(1.2);
  }

  .card:last-of-type:hover .info,
  .card:last-of-type:focus-within .info {
    transform: translateX(-4%) translateY(-85%) translateZ(0);
  }

  /* Cards END */

  #portfolio {
    padding: 3rem 0;
  }

  #portfolio-content {
    /* height: 110vh; */
    min-height: 100vh;
    padding-bottom: 3.3rem;
  }

  #portfolio-content::before {
    background: url("Desktop/Backgrounds/Desktop\ -\ Portfolio\ BG.svg")
      no-repeat center center/cover;
  }

  body.dark #portfolio-content::before {
    background: url("Desktop/Backgrounds/Desktop\ -\ Portfolio\ BG\ –\ Dark\ mode.svg")
      no-repeat center center/cover;
  }

  #portfolio #portfolio-CTA {
    left: initial;
  }

  #portfolio #portfolio-CTA h3 {
    color: var(--dark-blue);
    font-size: 1.5rem;
  }

  /* body.dark #portfolio {
    background: none;
  } */

  body.dark #portfolio #portfolio-CTA h3 {
    color: var(--light-gray);
  }

  #portfolio #portfolio-CTA img {
    width: 252px;
    height: 298px;
  }

  /* === Contact === */

  #contact-content::before {
    content: none;
  }

  #contact {
    position: relative;
  }

  #contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: url("Desktop/Backgrounds/Desktop\ -\ Contact\ BG.svg") no-repeat
      center center/cover;
  }

  body.dark #contact::before {
    background: url("Desktop/Backgrounds/Desktop\ -\ Contact\ BG\ –\ Dark\ mode.svg")
      no-repeat center center/cover;
  }

  #contact-content h2 {
    /* font-size: 2.55rem; */
    font-size: 2.7rem;
  }

  #contact-content h3 {
    max-width: initial;
    margin: initial;
  }

  #contact-content .social a svg {
    transform: scale(1.15);
  }

  #contact-content .social a:hover svg {
    transform: scale(1.25);
  }

  #contact #contact-chevron {
    transform: scale(0.9);
  }

  #contact #contact-chevron:hover {
    transform: scale(1);
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  #name-in-bg {
    left: 0.5%;
    bottom: 20%;
  }

  .card {
    transform: scale(0.9);
    margin-bottom: -6.7rem;
  }

  .card:nth-of-type(2) {
    max-width: none;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.1);
  }
  .card:first-of-type:hover,
  .card:first-of-type:focus-within {
    transform: scale(1.1);
  }

  .card:nth-of-type(2):hover,
  .card:nth-of-type(2):focus-within {
    transform: scale(1.1);
  }

  .card:nth-of-type(4):hover,
  .card:nth-of-type(4):focus-within {
    transform: scale(1.1);
  }

  .card:last-of-type:hover,
  .card:last-of-type:focus-within {
    transform: scale(1.1);
  }

  .card:last-of-type:hover .info,
  .card:last-of-type:focus-within .info {
    transform: translateX(-4%) translateY(-115%) translateZ(0);
  }

  #home #home-content {
    justify-content: space-evenly;
  }

  #home #home-content #main-photo {
    width: 280px;
    margin: initial;
  }

  #home #home-content #main-text {
    max-width: 32%;
  }

  #home #home-content #main-text h1 {
    font-size: 3.2rem;
  }

  #home #home-content #main-text p {
    font-size: 1.75rem;
  }

  /* #home #home-content .social a svg {
    width: 1.8rem;
    height: auto;
  } */

  #navbar {
    height: 4.25rem;
  }

  #navbar ul {
    width: 40%;
    justify-content: space-evenly;
  }

  #portfolio,
  #about {
    background: linear-gradient(
      90deg,
      var(--light-gray) 30vw,
      var(--blue) 30vw
    );
    padding-bottom: 9rem;
  }

  body.dark #portfolio,
  body.dark #about {
    background: linear-gradient(
      90deg,
      var(--dark-blue) 30vw,
      var(--darker-primary-blue) 30vw
    );
  }

  #portfolio #portfolio-CTA {
    left: 16%;
  }

  #about #about-content #about-illustration {
    flex: 0.4;
  }

  #about #about-me {
    max-width: 45%;
    margin-right: 5.35rem;
    flex: 1;
  }

  #about hr {
    width: 20%;
  }

  #contact-content h2 {
    /* font-size: 3.05rem; */
    font-size: 2.85rem;
  }

  #contact-content .social a:nth-of-type(2) {
    margin: 0 2.65rem;
  }

  #contact-content .social a svg {
    transform: scale(1.25);
  }
  #contact-content .social a:hover svg {
    transform: scale(1.35);
  }

  #contact-content #contact-illustration {
    transform: scale(0.9);
  }
}

/* Landscape */
@media (max-height: 560px) and (orientation: landscape) {
  #contact {
    min-height: 160vh;
  }

  #contact #contact-content #contact-illustration {
    transform: scale(0.75);
    transform-origin: bottom;
  }

  #portfolio #portfolio-content {
    min-height: 200vh;
  }
}
@media (max-height: 560px) and (min-width: 768px) and (orientation: landscape) {
  #home #home-content {
    min-height: 150vh;
  }

  #name-in-bg {
    display: none;
  }
}
